@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
  height: 100%;
  background-color: #151515;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

picture {
  width: 100%;
}

.logo {
  max-width: 220px;
  width: 100%;
}

@media (max-width: 1800px) {
  .logo {
    max-width: 209px;
  }
}

@media (max-width: 1600px) {
  .logo {
    max-width: 198px;
  }
}

@media (max-width: 1400px) {
  .logo {
    max-width: 176px;
  }
}

@media (max-width: 1300px) {
  .logo {
    max-width: 154px;
  }
}

@media (max-width: 1100px) {
  .logo {
    max-width: 132px;
  }
}

@media (max-width: 1000px) {
  .logo {
    max-width: 187px;
  }
}

@media (max-width: 775px) {
  .logo {
    max-width: 176px;
  }
}

@media (max-width: 560px) {
  .logo {
    max-width: 165px;
  }
}

@media (max-width: 410px) {
  .logo {
    max-width: 154px;
  }
}

.btn {
  padding: 0;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  background: #F5BF41;
  padding: 26px 66px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 1800px) {
  .btn {
    padding: 23px 62.7px;
  }
}

@media (max-width: 1600px) {
  .btn {
    padding: 22px 59.4px;
  }
}

@media (max-width: 1400px) {
  .btn {
    padding: 21px 52.8px;
  }
}

@media (max-width: 1300px) {
  .btn {
    padding: 20px 46.2px;
  }
}

@media (max-width: 1100px) {
  .btn {
    padding: 19px 39.6px;
  }
}

@media (max-width: 1000px) {
  .btn {
    padding: 17px 29.7px;
  }
}

@media (max-width: 775px) {
  .btn {
    padding: 21px 52.8px;
  }
}

@media (max-width: 560px) {
  .btn {
    padding: 21px 36.3px;
  }
}

.btn:hover {
  -webkit-box-shadow: 0px 0px 53.2778px #BF3AFF, 0px 0px 53.2778px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 53.2778px #BF3AFF, 0px 0px 53.2778px rgba(255, 255, 255, 0.6);
}

.btn__text {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: #151515;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
}

@media (max-width: 1800px) {
  .btn__text {
    font-size: 38px;
  }
}

@media (max-width: 1600px) {
  .btn__text {
    font-size: 36px;
  }
}

@media (max-width: 1400px) {
  .btn__text {
    font-size: 32px;
  }
}

@media (max-width: 1300px) {
  .btn__text {
    font-size: 28px;
  }
}

@media (max-width: 1100px) {
  .btn__text {
    font-size: 24px;
  }
}

@media (max-width: 1000px) {
  .btn__text {
    font-size: 18px;
  }
}

@media (max-width: 775px) {
  .btn__text {
    font-size: 32px;
  }
}

@media (max-width: 560px) {
  .btn__text {
    font-size: 24px;
  }
}

@media (max-width: 410px) {
  .btn__text {
    font-size: 16px;
  }
}

.btn-1 {
  padding: 0;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  background: transparent;
  padding: 24px 29px;
  -webkit-transition: all .5s;
  transition: all .5s;
  border: 1.54568px solid #F5BF41;
  border-radius: 6.37527px;
}

@media (max-width: 1800px) {
  .btn-1 {
    padding: 23px 26.1px;
  }
}

@media (max-width: 1600px) {
  .btn-1 {
    padding: 22px 26.1px;
  }
}

@media (max-width: 1400px) {
  .btn-1 {
    padding: 21px 23.2px;
  }
}

@media (max-width: 1300px) {
  .btn-1 {
    padding: 20px 20.3px;
  }
}

@media (max-width: 1100px) {
  .btn-1 {
    padding: 19px 17.4px;
  }
}

@media (max-width: 1000px) {
  .btn-1 {
    padding: 17px 13.05px;
  }
}

@media (max-width: 775px) {
  .btn-1 {
    padding: 21px 23.2px;
  }
}

@media (max-width: 560px) {
  .btn-1 {
    padding: 21px 15.95px;
  }
}

.btn-1:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 53.2778px #BF3AFF, 0px 0px 53.2778px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 53.2778px #BF3AFF, 0px 0px 53.2778px rgba(255, 255, 255, 0.6);
}

.btn-1__text {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 31px;
}

@media (max-width: 1800px) {
  .btn-1__text {
    font-size: 29.45px;
  }
}

@media (max-width: 1600px) {
  .btn-1__text {
    font-size: 27.9px;
  }
}

@media (max-width: 1400px) {
  .btn-1__text {
    font-size: 24.8px;
  }
}

@media (max-width: 1300px) {
  .btn-1__text {
    font-size: 21.7px;
  }
}

@media (max-width: 1100px) {
  .btn-1__text {
    font-size: 18.6px;
  }
}

@media (max-width: 1000px) {
  .btn-1__text {
    font-size: 13.95px;
  }
}

@media (max-width: 775px) {
  .btn-1__text {
    font-size: 24.8px;
  }
}

@media (max-width: 560px) {
  .btn-1__text {
    font-size: 18.6px;
  }
}

@media (max-width: 410px) {
  .btn-1__text {
    font-size: 12.4px;
  }
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 775px) {
  .steps {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
  }
}

.steps__item {
  display: inline-block;
  background: #F5BF41;
  border-radius: 10.8729px;
  max-width: 429px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: relative;
}

@media (max-width: 775px) {
  .steps__item {
    gap: 40px;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

@media (max-width: 560px) {
  .steps__item {
    gap: 40px;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
}

.steps__item::after {
  position: absolute;
  bottom: -68px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 82px;
  display: inline-block;
  height: 82px;
  line-height: 82px;
  border-radius: 50%;
  font-size: 60px;
  text-align: center;
  border: 5px solid black;
  vertical-align: middle;
  background-color: #F5BF41;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #151515;
}

@media (max-width: 1800px) {
  .steps__item::after {
    font-size: 57px;
    line-height: 77.9px;
    height: 77.9px;
    width: 77.9px;
    bottom: -64.6px;
  }
}

@media (max-width: 1600px) {
  .steps__item::after {
    font-size: 54px;
    line-height: 73.8px;
    height: 73.8px;
    width: 73.8px;
    bottom: -61.2px;
  }
}

@media (max-width: 1400px) {
  .steps__item::after {
    font-size: 48px;
    line-height: 65.6px;
    height: 65.6px;
    width: 65.6px;
    bottom: -54.4px;
  }
}

@media (max-width: 1300px) {
  .steps__item::after {
    font-size: 42px;
    line-height: 57.4px;
    height: 57.4px;
    width: 57.4px;
    bottom: -47.6px;
  }
}

@media (max-width: 1100px) {
  .steps__item::after {
    font-size: 36px;
    line-height: 49.2px;
    height: 49.2px;
    width: 49.2px;
    bottom: -40.8px;
    border: 3px solid black;
  }
}

@media (max-width: 560px) {
  .steps__item::after {
    font-size: 30px;
    line-height: 41px;
    height: 41px;
    width: 41px;
    bottom: -34px;
  }
}

@media (max-width: 560px) {
  .steps__item::after {
    font-size: 24px;
    line-height: 32.8px;
    height: 32.8px;
    width: 32.8px;
    bottom: -27.2px;
  }
}

.steps__item:nth-child(1)::after {
  content: '1';
}

.steps__item:nth-child(2)::after {
  content: '2';
}

.steps__item:nth-child(3)::after {
  content: '3';
}

.steps__img {
  border-radius: 10.8729px;
  width: 100%;
}

.steps__text-content {
  padding: 7% 0;
}

.steps__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 26px;
  letter-spacing: -0.04em;
  color: #151515;
}

@media (max-width: 1800px) {
  .steps__text {
    font-size: 24.7px;
  }
}

@media (max-width: 1600px) {
  .steps__text {
    font-size: 23.4px;
  }
}

@media (max-width: 1400px) {
  .steps__text {
    font-size: 20.8px;
  }
}

@media (max-width: 1300px) {
  .steps__text {
    font-size: 18.2px;
  }
}

@media (max-width: 1100px) {
  .steps__text {
    font-size: 15.6px;
  }
}

.steps__text-detail {
  padding: 7% 0 0 0;
  text-align: center;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #151515;
}

@media (max-width: 1800px) {
  .steps__text-detail {
    font-size: 14.25px;
  }
}

@media (max-width: 1600px) {
  .steps__text-detail {
    font-size: 13.5px;
  }
}

@media (max-width: 1400px) {
  .steps__text-detail {
    font-size: 12px;
  }
}

@media (max-width: 1300px) {
  .steps__text-detail {
    font-size: 10.5px;
  }
}

@media (max-width: 1100px) {
  .steps__text-detail {
    font-size: 9px;
  }
}

.wrap {
  background-color: black;
}

.section-invitation {
  background: url(./image/Bg-fon-invitation.jpg) no-repeat center top/100% 100%;
  padding: 0 0 13% 0;
  position: relative;
}

@media (max-width: 1300px) {
  .section-invitation {
    padding: 0 0 10% 0;
  }
}

@media (max-width: 775px) {
  .section-invitation {
    padding: 0;
    background: url(./image/Bg-fon-invitation.jpg) no-repeat center center/128% 100%;
  }
}

.section-invitation__logo-wrap {
  padding: 2% 0 12% 8%;
}

@media (max-width: 900px) {
  .section-invitation__logo-wrap {
    padding: 5% 0 12% 0%;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .section-invitation__logo-wrap > img {
    margin: 0 auto;
  }
}

.section-invitation__content {
  position: relative;
}

.section-invitation__img-block {
  position: absolute;
  max-width: 747px;
  top: -55%;
  left: 10%;
}

@media (max-width: 1800px) {
  .section-invitation__img-block {
    left: 5%;
    width: 70%;
  }
}

@media (max-width: 1600px) {
  .section-invitation__img-block {
    width: 45%;
  }
}

@media (max-width: 1400px) {
  .section-invitation__img-block {
    width: 45%;
  }
}

@media (max-width: 1300px) {
  .section-invitation__img-block {
    width: 40%;
    top: -37%;
  }
}

@media (max-width: 1100px) {
  .section-invitation__img-block {
    width: 40%;
  }
}

@media (max-width: 775px) {
  .section-invitation__img-block {
    margin: 0 auto;
    position: relative;
    width: 100%;
    left: 0;
  }
}

.section-invitation__bg-ball {
  position: absolute;
}

.section-invitation__bg-ball-1 {
  right: 20px;
  top: -50%;
}

@media (max-width: 1800px) {
  .section-invitation__bg-ball-1 {
    width: 19%;
    right: 0;
    top: -50%;
  }
}

@media (max-width: 1600px) {
  .section-invitation__bg-ball-1 {
    width: 18%;
    right: 0;
    top: -50%;
  }
}

@media (max-width: 1400px) {
  .section-invitation__bg-ball-1 {
    width: 17%;
    right: 0;
    top: -50%;
  }
}

@media (max-width: 1300px) {
  .section-invitation__bg-ball-1 {
    width: 17%;
    right: 0;
    top: -50%;
  }
}

@media (max-width: 775px) {
  .section-invitation__bg-ball-1 {
    width: 20%;
    right: 0;
    top: 20%;
  }
}

.section-invitation__bg-ball-2 {
  left: 0;
  top: 50%;
}

@media (max-width: 1800px) {
  .section-invitation__bg-ball-2 {
    width: 14%;
    left: 0;
    top: 50%;
  }
}

@media (max-width: 1600px) {
  .section-invitation__bg-ball-2 {
    width: 13%;
    left: 0;
    top: 50%;
  }
}

@media (max-width: 1400px) {
  .section-invitation__bg-ball-2 {
    width: 12%;
    left: 0;
    top: 50%;
  }
}

@media (max-width: 1300px) {
  .section-invitation__bg-ball-2 {
    width: 11%;
    left: 0;
    top: 50%;
  }
}

@media (max-width: 775px) {
  .section-invitation__bg-ball-2 {
    display: none;
  }
}

.section-invitation__content-text-bg {
  background-color: #F5BF41;
}

.section-invitation__content-text-bg span {
  font-size: 123px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #151515;
  display: block;
  padding: 0 0% 0 40%;
}

@media (max-width: 1800px) {
  .section-invitation__content-text-bg span {
    font-size: 116.85px;
  }
}

@media (max-width: 1600px) {
  .section-invitation__content-text-bg span {
    font-size: 110.7px;
  }
}

@media (max-width: 1400px) {
  .section-invitation__content-text-bg span {
    font-size: 98.4px;
  }
}

@media (max-width: 1300px) {
  .section-invitation__content-text-bg span {
    font-size: 86.1px;
  }
}

@media (max-width: 1100px) {
  .section-invitation__content-text-bg span {
    font-size: 73.8px;
  }
}

@media (max-width: 1000px) {
  .section-invitation__content-text-bg span {
    font-size: 55.35px;
  }
}

@media (max-width: 775px) {
  .section-invitation__content-text-bg span {
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 560px) {
  .section-invitation__content-text-bg span {
    font-size: 36.9px;
  }
}

.section-invitation__content-text span {
  font-size: 123px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  display: block;
  padding: 0 0% 0 40%;
}

@media (max-width: 1800px) {
  .section-invitation__content-text span {
    font-size: 116.85px;
  }
}

@media (max-width: 1600px) {
  .section-invitation__content-text span {
    font-size: 110.7px;
  }
}

@media (max-width: 1400px) {
  .section-invitation__content-text span {
    font-size: 98.4px;
  }
}

@media (max-width: 1300px) {
  .section-invitation__content-text span {
    font-size: 86.1px;
  }
}

@media (max-width: 1100px) {
  .section-invitation__content-text span {
    font-size: 73.8px;
  }
}

@media (max-width: 1000px) {
  .section-invitation__content-text span {
    font-size: 55.35px;
  }
}

@media (max-width: 775px) {
  .section-invitation__content-text span {
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 560px) {
  .section-invitation__content-text span {
    font-size: 43.05px;
  }
}

.section-invitation__content-text span:nth-child(3) {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  display: block;
  padding: 0 0% 0 40%;
}

@media (max-width: 1800px) {
  .section-invitation__content-text span:nth-child(3) {
    font-size: 33.25px;
  }
}

@media (max-width: 1600px) {
  .section-invitation__content-text span:nth-child(3) {
    font-size: 31.5px;
  }
}

@media (max-width: 1400px) {
  .section-invitation__content-text span:nth-child(3) {
    font-size: 28px;
  }
}

@media (max-width: 1300px) {
  .section-invitation__content-text span:nth-child(3) {
    font-size: 24.5px;
  }
}

@media (max-width: 1100px) {
  .section-invitation__content-text span:nth-child(3) {
    font-size: 21px;
  }
}

@media (max-width: 1000px) {
  .section-invitation__content-text span:nth-child(3) {
    font-size: 15.75px;
  }
}

@media (max-width: 775px) {
  .section-invitation__content-text span:nth-child(3) {
    padding: 0 0% 0 30%;
  }
}

@media (max-width: 560px) {
  .section-invitation__content-text span:nth-child(3) {
    font-size: 14px;
  }
}

.section-invitation__btn {
  padding: 5% 0 0 60%;
}

@media (max-width: 775px) {
  .section-invitation__btn {
    padding: 0;
    position: absolute;
    bottom: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.section-steps {
  background: url("./image/confit.png") top 50px left 0, #151515;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 775px) {
  .section-steps {
    background: url("./image/Bg-fon-step-confit.png") top 50px left 0, #151515;
  }
}

.section-steps__title-block {
  border-bottom: 3px solid #F5BF41;
  border-top: 3px solid #F5BF41;
  position: relative;
}

.section-steps__bg-ball {
  position: absolute;
}

.section-steps__bg-ball-3 {
  top: -170%;
  right: 0%;
}

@media (max-width: 1800px) {
  .section-steps__bg-ball-3 {
    width: 19%;
    top: -170%;
    right: 0%;
  }
}

@media (max-width: 1600px) {
  .section-steps__bg-ball-3 {
    width: 18%;
    top: -150%;
    right: 0%;
  }
}

@media (max-width: 1400px) {
  .section-steps__bg-ball-3 {
    width: 17%;
    top: -140%;
    right: 0%;
  }
}

@media (max-width: 1300px) {
  .section-steps__bg-ball-3 {
    width: 18%;
    top: -140%;
    right: 0%;
  }
}

@media (max-width: 1100px) {
  .section-steps__bg-ball-3 {
    width: 18%;
    top: -130%;
    right: 0%;
  }
}

@media (max-width: 775px) {
  .section-steps__bg-ball-3 {
    width: 35%;
    top: auto;
    bottom: -300%;
    left: -10%;
  }
}

@media (max-width: 560px) {
  .section-steps__bg-ball-3 {
    width: 45%;
    bottom: -400%;
    left: -15%;
  }
}

@media (max-width: 420px) {
  .section-steps__bg-ball-3 {
    width: 45%;
    bottom: -90%;
    left: -15%;
  }
}
.section-steps__bg-ball-4 {
  bottom: 17%;
  left: 15%;
}

@media (max-width: 1800px) {
  .section-steps__bg-ball-4 {
    width: 19%;
  }
}

@media (max-width: 1600px) {
  .section-steps__bg-ball-4 {
    width: 18%;
  }
}

@media (max-width: 1400px) {
  .section-steps__bg-ball-4 {
    width: 17%;
  }
}

@media (max-width: 1300px) {
  .section-steps__bg-ball-4 {
    width: 18%;
  }
}

@media (max-width: 1100px) {
  .section-steps__bg-ball-4 {
    width: 18%;
  }
}

@media (max-width: 775px) {
  .section-steps__bg-ball-4 {
    width: 30%;
    bottom: 37%;
    left: -5%;
  }
}

.section-steps__bg-ball-5 {
  bottom: 0%;
  right: 5%;
}

@media (max-width: 1800px) {
  .section-steps__bg-ball-5 {
    width: 25%;
  }
}

@media (max-width: 1600px) {
  .section-steps__bg-ball-5 {
    width: 23%;
  }
}

@media (max-width: 1400px) {
  .section-steps__bg-ball-5 {
    width: 22%;
  }
}

@media (max-width: 1100px) {
  .section-steps__bg-ball-5 {
    width: 22%;
  }
}

@media (max-width: 775px) {
  .section-steps__bg-ball-5 {
    width: 30%;
    right: 0%;
  }
}

.section-steps__title {
  text-align: center;
  font-size: 96px;
  font-weight: 700;
  color: #FFFFFF;
}

@media (max-width: 1800px) {
  .section-steps__title {
    font-size: 91.2px;
  }
}

@media (max-width: 1600px) {
  .section-steps__title {
    font-size: 86.4px;
  }
}

@media (max-width: 1400px) {
  .section-steps__title {
    font-size: 76.8px;
  }
}

@media (max-width: 1300px) {
  .section-steps__title {
    font-size: 67.2px;
  }
}

@media (max-width: 1100px) {
  .section-steps__title {
    font-size: 57.6px;
  }
}

@media (max-width: 775px) {
  .section-steps__title {
    font-size: 38.4px;
  }
}

@media (max-width: 560px) {
  .section-steps__title {
    font-size: 38.4px;
  }
}

.section-steps__block-position {
  padding: 5% 1%;
  max-width: 90%;
  margin: 0 auto;
}

@media (max-width: 775px) {
  .section-steps__block-position {
    max-width: 100%;
    padding: 5% 2%;
  }
}

.section-steps__btn-block {
  text-align: center;
  padding: 5% 0 7% 0;
}

.section-steps__btn-position {
  margin-bottom: 22px;
}

.section-rull {
  display: none;
  background: url("./image/Ellipse3.png") no-repeat center center, #151515;
}

@media (max-width: 775px) {
  .section-rull {
    background: #151515;
  }
}

.section-rull__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1000px) {
  .section-rull__content {
    width: 95%;
  }
}

@media (max-width: 800px) {
  .section-rull__content {
    width: 95%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-rull__content-item {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

@media (max-width: 900px) {
  .section-rull__content-item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

@media (max-width: 800px) {
  .section-rull__content-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.section-rull__content-item p, .section-rull__content-item ul {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 145%;
}

@media (max-width: 1800px) {
  .section-rull__content-item p, .section-rull__content-item ul {
    font-size: 14.25px;
  }
}

@media (max-width: 1600px) {
  .section-rull__content-item p, .section-rull__content-item ul {
    font-size: 13.5px;
  }
}

@media (max-width: 1400px) {
  .section-rull__content-item p, .section-rull__content-item ul {
    font-size: 12.75px;
  }
}

@media (max-width: 1300px) {
  .section-rull__content-item p, .section-rull__content-item ul {
    font-size: 12px;
  }
}

@media (max-width: 1100px) {
  .section-rull__content-item p, .section-rull__content-item ul {
    font-size: 11.25px;
  }
}

.section-rull__title-wrap {
  text-align: center;
  padding-bottom: 3.48958%;
}

.section-rull__title {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-weight: 600;
}

@media (max-width: 1800px) {
  .section-rull__title {
    font-size: 45.6px;
  }
}

@media (max-width: 1600px) {
  .section-rull__title {
    font-size: 43.2px;
  }
}

@media (max-width: 1400px) {
  .section-rull__title {
    font-size: 38.4px;
  }
}

@media (max-width: 1300px) {
  .section-rull__title {
    font-size: 33.6px;
  }
}

@media (max-width: 1100px) {
  .section-rull__title {
    font-size: 28.8px;
  }
}

.section-rull.visible {
  display: block;
}
/*# sourceMappingURL=style.css.map */
