@import "./module/reset.scss";
// 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// 
@import "./module/variable.scss";
@import "./module/logo";
@import "./module/btn.scss";
@import "./module/steps";

.wrap{
  background-color: black;
}

.section-invitation{
  // height: 1000px;
  background: url(./image/Bg-fon-invitation.jpg) no-repeat center top/100% 100%;
  // background-size: cover;
  padding: 0 0 13% 0;
  position: relative;

  @media (max-width:1300px) {
    padding: 0 0 10% 0;
  }

  @media (max-width:775px) {
    padding: 0 ;
    // background-size: cover;
    background: url(./image/Bg-fon-invitation.jpg) no-repeat center center/ 128% 100%;
  }

  &__logo-wrap{
    padding: 2% 0 12% 8%;

    
    @media (max-width:900px) {
      padding: 5% 0 12% 0%;
      text-align: center;
    }

  }

  &__logo-wrap > img{

    @media (max-width:900px) {
      
      margin: 0 auto;
    }
  }

  &__content{
    position: relative;

    
  }

  &__img-block{
    position: absolute;
    max-width: 747px;
    top:-55%;
    left: 10%;
    
    @media (max-width:1800px) {
      left: 5%;
      width: 70%;
    }
    @media (max-width:1600px) {
      width: 45%;
    }
    @media (max-width:1400px) {
      width: 45%;
    }
    @media (max-width:1300px) {
      width: 40%;
      top:-37%
    }
    @media (max-width:1100px) {
      width:40%;
    }
    @media (max-width:775px) {
      margin: 0 auto;
      position: relative;
      width: 100%;
      left: 0;
    }
  }

  &__bg-ball{
    position: absolute;
    

    &-1{
      right: 20px;
      top:-50%;

      @media (max-width:1800px) {
        width:19%;
        right:0;
        top:-50%;
      }
      @media (max-width:1600px) {
        width:18%;
        right:0;
        top:-50%;
      }
      @media (max-width:1400px) {
        width:17%;
        right:0;
        top:-50%;
      }
      @media (max-width:1300px) {
        width:17%;
        right:0;
        top:-50%;
      }
      
      @media (max-width:775px) {
        width:20%;
        right:0;
        top:20%;
      }
    }
    &-2{
      left: 0;
      top:50%;

      @media (max-width:1800px) {
        width:14%;
        left: 0;
      top:50%;
      }
      @media (max-width:1600px) {
        width:13%;
        left: 0;
      top:50%;
      }
      @media (max-width:1400px) {
        width:12%;
        left: 0;
        top:50%;
      }
      @media (max-width:1300px) {
        width:11%;
        left: 0;
        top:50%;
      }
      
      @media (max-width:775px) {
       display: none;
      }
    }
  }

  &__content-text-bg{
    background-color:#F5BF41; 
    & span{
      font-size: 123px;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
      color: $colorTextBlack;
      display: block;
      padding: 0 0% 0 40% ;
      @media (max-width:1800px) {
        font-size: $size1*.95 
      }
      @media (max-width:1600px) {
        font-size: $size1*.9 
      }
      @media (max-width:1400px) {
        font-size: $size1*.8 
      }
      @media (max-width:1300px) {
        font-size: $size1*.7
      }
      @media (max-width:1100px) {
        font-size: $size1*.6
      }
      @media (max-width:1000px) {
        font-size: $size1*.45
      }
      @media (max-width:775px) {
        padding: 0;
        text-align: center;
      }
      @media (max-width:560px) {
        font-size: $size1*.3
      }
    }
  }
  &__content-text{
    & span{
      font-size: 123px;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
      color: $colorTextWhite;
      display: block;
      padding: 0 0% 0 40% ;
      @media (max-width:1800px) {
        font-size: $size1*.95 
      }
      @media (max-width:1600px) {
        font-size: $size1*.9 
      }
      @media (max-width:1400px) {
        font-size: $size1*.8 
      }
      @media (max-width:1300px) {
        font-size: $size1*.7
      }
      @media (max-width:1100px) {
        font-size: $size1*.6
      }
      @media (max-width:1000px) {
        font-size: $size1*.45
      }
      @media (max-width:775px) {
        padding: 0;
        text-align: center;
      }
      @media (max-width:560px) {
        font-size: $size1*.35
      }

    }
    & span:nth-child(3){
      font-size: 35px;
      font-weight: 400;
      text-align: center;
      display: block;
      padding: 0 0% 0 40% ;
      @media (max-width:1800px) {
        font-size: $size2*.95 
      }
      @media (max-width:1600px) {
        font-size: $size2*.9 
      }
      @media (max-width:1400px) {
        font-size: $size2*.8 
      }
      @media (max-width:1300px) {
        font-size: $size2*.7
      }
      @media (max-width:1100px) {
        font-size: $size2*.6
      }
      @media (max-width:1000px) {
        font-size: $size2*.45
      }
      @media (max-width:775px) {
        padding: 0 0% 0 30% ;
        // text-align: center;
      }
      @media (max-width:560px) {
        font-size: $size2*.4
      }
    }
  }

  &__btn{
    padding:5% 0 0 60%;

    @media (max-width:775px) {
      padding: 0;
      position: absolute;
      bottom: 30%;
      left: 50%;
      transform: translateX(-50%);

    }
  }
}

.section-steps{


  background: url("./image/confit.png") top 50px left 0,#151515 ;
  background-repeat: no-repeat;
  position: relative;

  @media (max-width:775px) {
    background: url("./image/Bg-fon-step-confit.png") top 50px left 0,#151515 ;
  }
   
  &__title-block{
    border-bottom:3px solid #F5BF41;
    border-top:3px solid #F5BF41;
    position: relative;
  }
  &__bg-ball{
    position: absolute;
    
    &-3{
      top: -170%;
      right: 0%;


      @media (max-width:1800px) {
        width:19%;
        top: -170%;
      right: 0%;
      }
      @media (max-width:1600px) {
        width:18%;
        top: -150%;
        right: 0%;
      }
      @media (max-width:1400px) {
        width:17%;
        top: -140%;
      right: 0%;
      }
      @media (max-width:1300px) {
        width:18%;
        top: -140%;
        right: 0%;
      }

      @media (max-width:1100px) {
        width:18%;
        top: -130%;
        right: 0%;
      }
      
      @media (max-width:775px) {
        width:35%;
        top: -300%;
        left: -10%;
      }
      @media (max-width:560px) {
        width:45%;
        top: -400%;
        left: -15%;
      }
      @media (max-width:420px) {
        width:45%;
        top: -150%;
        left: -15%;
      }
    }
    &-4{
      bottom: 17%;
      left: 15%;


      @media (max-width:1800px) {
        width:19%;
        
      }
      @media (max-width:1600px) {
        width:18%;
        
      }
      @media (max-width:1400px) {
        width:17%;
        
      }
      @media (max-width:1300px) {
        width:18%;
        
      }

      @media (max-width:1100px) {
        width:18%;
        
      }
      
      @media (max-width:775px) {
        width:30%;
        bottom: 37%;
        left: -5%;
       
      }
      
      

    }
    &-5{
      bottom: 0%;
      right: 5%;
      


      @media (max-width:1800px) {
        width:25%;
        
      }
      @media (max-width:1600px) {
        width:23%;
        
      }
      @media (max-width:1400px) {
        width:22%;
        
      }
      

      @media (max-width:1100px) {
        width:22%;
        
      }
      
      @media (max-width:775px) {
        width:30%;
        right: 0%;
       
      }
    }

  }
  &__title{
    text-align: center;
    font-size:$size4;
    font-weight:700;
    color: $colorTextWhite;


    @media (max-width:1800px) {
      font-size: $size4*.95;
    }
    @media (max-width:1600px) {
      font-size: $size4*.9;
    }
    @media (max-width:1400px) {
      font-size:  $size4*.8;
    }
    @media (max-width:1300px) {
      font-size:  $size4*.7;
    }
    @media (max-width:1100px) {
      font-size:  $size4*.6;
    }
    @media (max-width:775px) {
      font-size: $size4*.4
    }
    @media (max-width:560px) {
      font-size: $size4*.4
    }
  }

  &__block-position{
    padding: 5% 1%;
    max-width: 90%;
    margin: 0 auto;


    @media (max-width:775px) {
      max-width: 100%;
      padding: 5% 2%;
    }
  }


  &__btn-block{
    text-align: center;
    padding: 5% 0 7% 0;
  }

  &__btn-position{
    margin-bottom:22px;
  }
}

.section-rull{ 
  display: none;
  background: url("./image/Ellipse3.png") no-repeat center center,#151515;

  @media (max-width:775px) {
   background: #151515;
    
  }
  &__content{
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 10px;
    justify-content: center;

    @media (max-width:1000px) {
      width: 95%;
      
    }
    @media (max-width:800px) {
      width: 95%;
      flex-wrap: wrap;
    }

    &-item{
      flex-basis: 45%;

      @media (max-width:900px) {
        flex-basis: 48%;
      }
      @media (max-width:800px) {
        flex-basis: 100%;
      }


      & p, & ul{
        font-size: 15px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        line-height: 145%;

        @media (max-width:1800px) {
          font-size: $size6*.95;
        }
        @media (max-width:1600px) {
          font-size: $size6*.9;
        }
        @media (max-width:1400px) {
          font-size:  $size6*.85;
        }
        @media (max-width:1300px) {
          font-size:  $size6*.8;
        }
        @media (max-width:1100px) {
          font-size:  $size6*.75;
        }
      }
      
    }
  }

  &__title-wrap{
    text-align: center;
    padding-bottom: (67/1920)*100%;
  }

  &__title{
    color: $colorTextWhite;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    text-decoration-line: underline;
    font-weight: 600;

    @media (max-width:1800px) {
      font-size: $size9*.95;
    }
    @media (max-width:1600px) {
      font-size: $size9*.9;
    }
    @media (max-width:1400px) {
      font-size:  $size9*.8;
    }
    @media (max-width:1300px) {
      font-size:  $size9*.7;
    }
    @media (max-width:1100px) {
      font-size:  $size9*.6;
    }

  }
}
.section-rull.visible{
  display: block;
}

@media (max-width:1800px) {
  
}